body
{
    font-family: 'Roboto', sans-serif;
    background-color: #cbaf87;
}

nav a:link
{
    color:rgb(21, 183, 221, );
}
nav a:visited
{
    color: silver;
}
.header_block
{
    background-color: #7e8a97;
    position: fixed;
    text-align: center;
}